version: '3.8'

services:
  app:
    build: .
    ports:
      - "3001:3001"
    depends_on:
      - sqlserver
    environment:
      - DB_HOST=sqlserver
      - DB_USER=sa
      - DB_PASSWORD=yourStrongPassword!
      - DB_NAME=YourDatabase

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=yourStrongPassword!
    volumes:
      - sqlserverdata:/var/opt/mssql

volumes:
  sqlserverdata:
